<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body style="background-color: rgba(240,243,244,0.75); ">
<!-- 导航栏 -->
<div>
    <h3 style="color: rgba(86,86,86,0.75); font-family: FontAwesome">您当前的位置：个人中心 -> 个人信息</h3>
</div>
<hr style="height:1px;border:none;border-top:1px solid #cccccc;" />

<!-- 内容 -->
<div style="margin-top: 60px; margin-left: 50px">
    <img src="./images/admin.jpg" style="width: 250px;height: 300px; float: left; margin-right: 10%"/>
    <table style="color: rgba(86,86,86,0.75);font-family: FontAwesome; font-size: 25px">
        <td width="10%"></td><td width="10%"></td>
        <td width="10%">个人信息</td><td width="10%"></td>
        <td width="10%"></td><td width="10%"></td>
    </table>
    <table style="border-collapse:separate; border-spacing: 0 50px;font-size: 25px; font-family: 新宋体">
        <tr>
            <td style="color: rgba(86,86,86,0.75)" width="10%">姓名</td><td style="font-family: 黑体" width="10%" id="staffName"></td>
            <td style="color: rgba(86,86,86,0.75)" width="10%">性别</td><td style="font-family: 黑体" width="10%" id="staffSex"></td>
            <td style="color: rgba(86,86,86,0.75)" width="10%">出生年月</td><td style="font-family: 黑体" width="10%" id="staffBornDate"></td>
        </tr>
        <tr>
            <td style="color: rgba(86,86,86,0.75)" width="10%">用户名</td><td style="font-family: 黑体" width="10%" id="staffUsername"></td>
            <td style="color: rgba(86,86,86,0.75)" width="10%">岗位</td><td style="font-family: 黑体" width="10%" id="staffPosition"></td>
            <td style="color: rgba(86,86,86,0.75)" width="10%">入岗日期</td><td style="font-family: 黑体" width="10%" id="staffJobDate"></td>
        </tr>
        <tr>
            <td style="color: rgba(86,86,86,0.75)" width="10%">当前状态</td><td style="font-family: 黑体" width="10%" id="staffStatus"></td>
            <td style="color: rgba(86,86,86,0.75)" width="10%">手机号</td><td style="font-family: 黑体" width="10%" id="staffPhone"></td>
        </tr>
    </table>
</div>
</body>
</html>
<!-- JS -->
<script src="./js/jquery.min.js"></script>
<script src="./js/info.js"></script>