<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ZL</title>
    <!--<link rel="icon" href="../favicon.ico"/>-->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="/css/animate.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<!-- 顶部边栏 -->
<nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
        <div class="navbar-header" style="width:100%;">
            <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <!-- 网页主题 -->
            <a class="navbar-brand" style="cursor: default">
                ZL
            </a>

            <!-- 用户信息 -->
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name">状态：<span id="staffStatus"></span></li>
                <li class="user-name">职位：<span id="staffPosition"></span></li>
                <li class="user-name">姓名：<span id="staffName"></span></li>
                <li class="dropdown avatar-dropdown">
                    <!-- 头像 -->
                    <img src="/images/null.png" id="staffImage" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 左侧边栏 -->
<div class="container-fluid mimin-wrapper">
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li>
                    <div class="left-bg"></div>
                </li>
                <li class="time">
                    <h1 class="animated fadeInLeft">分秒</h1>
                    <p class="animated fadeInRight">年月日</p>
                </li>
                <li class="active ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa-user fa"></span>
                        个人中心
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a onclick="info()">个人信息</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa-tags fa"></span>
                        系统管理
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a>用户管理</a></li>
                        <li><a>角色管理</a></li>
                        <li><a>权限管理</a></li>
                        <li><a>公告管理</a></li>
                        <li><a>日志管理</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa-list-alt fa"></span>
                        业务管理
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a>上传信息</a></li>
                        <li><a onclick="businessQuery()">查询信息</a></li>
                        <li><a>异常信息</a></li>
                        <li><a>批量上传</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa-pencil-square-o fa"></span>
                        审批管理
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a>审批信息</a></li>
                        <li><a>评估信用</a></li>
                        <li><a onclick="approveQuery()">查询信息</a></li>
                        <li><a>异常信息</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->
</div>

<!-- 主页面 -->
<iframe style="margin-left: 240px; margin-top: 60px; width: 85%;" frameborder="0" scrolling="auto" id="mainFrame" src="">
</iframe>
</body>
</html>
<!-- JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/jquery.flot.min.js"></script>
<script src="/js/jquery.flot.pie.min.js"></script>
<script src="/js/jquery.flot.time.min.js"></script>
<script src="/js/jquery.flot.navigate.min.js"></script>
<script src="/js/jquery.flot.stack.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/user.js"></script>
